$vars: (
  main-background: #ffffff,
  main-text: #202020,
);
// Spit out all colors in :root for using as var(--main-text) in css.
:root {
  @each $name, $color in $vars {
    --#{$name}: #{$color};
  }
}
